@{
    ViewData["Title"] = "Home Page";
}
<style>
    body{
        background-color:antiquewhite;
    }
    .header{
        
        text-align:center;
       

    }
</style>
<body>
<div class="header">
      <h1>STUDENT REGISTER PAGE</h1>
</div>


</body>
